@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Anybody:ital,wght@0,100..900;1,100..900&family=Arbutus+Slab&display=swap");

// all project color
root {
    --primaryColor: hsl(14, 90%, 53%);
    --primaryColorLight: hsl(14, 96%, 91%);
    --bgColor: hsl(0, 0%, 100%);
    --formColor: hsl(20, 42%, 87%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --greyText: hsl(0, 0%, 51%);
    --inputColor: hsl(330, -12%, 97%);
    --cardColor: hsl(300, 3%, 94%);

    /* Font ang Typography */
    --biggestFontSize: 2.5rem;
    --h1FontSize: 2rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: 0.938rem;
    --smallFontSize: 0.813rem;
    --smallestFontSize: 0.75rem;
    --borderRadius: 3rem;
}

// swiper
// .autoplay-progress {
//     position: absolute;
//     right: 16px;
//     bottom: 16px;
//     z-index: 10;
//     width: 48px;
//     height: 48px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     font-weight: bold;
//     color: var(--swiper-theme-color);
//   }

//   .autoplay-progress svg {
//     --progress: 0;
//     position: absolute;
//     left: 0;
//     top: 0px;
//     z-index: 10;
//     width: 100%;
//     height: 100%;
//     stroke-width: 4px;
//     stroke: var(--swiper-theme-color);
//     fill: none;
//     stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
//     stroke-dasharray: 125.6;
//     transform: rotate(-90deg);
//   }

.marquee {
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: var(--primaryColor);
    color: var(--whiteColor);
    padding: 0.5rem;
    text-align: center;
    font-size: 1.5rem; /* Increase font size here */
    font-weight: 500;
    top: 101%;
}

.marquee-content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: 1rem; /* match to gap above */
}

.Home {
    position: relative;
    height: 95vh;
    width: 100%;
    top: 0;

    .imgBg {
        position: absolute;
        height: 95vh;
        width: 100%;
        z-index: -1;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .sectionText {
        position: absolute;
        height: 100%;
        top: 30%;
        bottom: 50%;
        color: var(--primaryColorLight);
        padding: 0 1.3rem;

        h1 {
            font-size: var(--biggestFontSize);
            font-weight: 900;
        }

        p {
            padding: 1rem 0;
            font-size: var(--normalFontSize);
            font-weight: 500;
            color: var(--primaryColorLight);
        }
        .btn {
            gap: 0.5rem;
            padding-left: 2rem;
            padding-right: 2rem;
            font-size: var(--h3FontSize);
        }
        .btn a {
            text-decoration: none;
            color: var(--blackColor);
        }
    }

    .popularPlaces {
        display: none;
    }
}

// For bigger than mobile
@media screen and (min-width: 480px) {
    .Home {
        // background: #000;
        .sectionText {
            padding: 0 2rem;
            justify-content: center;
            text-align: center;
            width: 100%;

            h1 {
                font-size: var(--biggestFontSize);
                font-weight: 900;
            }
            p {
                padding: 1rem 0;
                font-size: var(--h2FontSize);
                max-width: 70%;
                margin: auto;
            }
            .btn {
                font-size: var(--h3FontSize);
                margin: auto;
            }
        }
    }
}

// for tabs
@media screen and (min-width: 769px) {
    .Home {
        .sectionText {
            width: 100%;

            h1 {
                font-size: 4rem;
                font-weight: 900;
                max-width: 70%;
                margin: auto;
            }
            p {
                padding: 1rem 0;
                font-size: var(--h2FontSize);
                max-width: 70%;
                margin: auto;
            }
            .btn {
                gap: 0.5rem;
                padding-right: 2rem;
                padding-left: 2rem;
                font-size: var(--h3FontSize);
                margin: auto;
            }
        }
    }
}

// For laptop
@media screen and (min-width: 1040px) {
    .Home {
        position: relative;
        // background: #000;
        // margin-top: -1%;
        .sectionText {
            h1 {
                font-size: 3.8rem;
                font-weight: 900;
                max-width: 70%;
                margin: auto;
                color: var(--primaryColorLight);
                margin-top: -1%;
            }
        }

        .popularPlaces {
            display: block;
            position: absolute;
            bottom: 6%;
            width: 100%;
            top: 60%; // Added by me !
            display: flex;
            align-items: center;
            justify-content: center;

            .content {
                h3 {
                    color: var(--primaryColorLight);
                    padding: 1rem 0;
                    position: relative;
                    &::after {
                        content: "";
                        width: 83%;
                        height: 2px;
                        background: var(--primaryColorLight);
                        right: 0;
                        bottom: 50%;
                        position: absolute;
                    }
                }
                .images {
                    align-items: center;
                    justify-content: center;
                    gap: 2rem;

                    img {
                        height: 100%;
                        width: 210px;
                        object-fit: cover;
                        border-radius: 10px;
                        transition:
                            transform 0.4s ease-in-out,
                            box-shadow 0.4s ease-in-out; /* Smooth transition for scale and shadow */
                    }
                    :hover {
                        box-shadow:
                            10px 0 20px #008cff85,
                            -10px 0 20px #e100ff;
                        transition:
                            transform 0.4s ease-in-out,
                            box-shadow 0.4s ease-in-out;
                    }
                }
            }
        }
    }
}

// This is for Mobile // 459, in my phone 390
@media screen and (min-width: 390px) and (max-width: 459px) {
    .Home {
        margin-top: -17%;

        .imgBg img {
            z-index: -1;
            height: 100%;
        }
        .sectionText {
            padding: 0 2rem;
            justify-content: center;
            text-align: center;
            width: 100%;

            h1 {
                font-size: var(--biggestFontSize);
                font-weight: 900;
            }
            p {
                padding: 3rem 0;
                font-size: var(--h2FontSize);
                max-width: 70%;
                margin: auto;
            }
            .btn {
                font-size: var(--h3FontSize);
                margin: auto;
            }
        }
    }
}
